<div id="Cases">
    <h2>CASES</h2>
    <div class="detailHeader">
      <div class="detailHeaderCont casesOne"></div>
    </div>
    <div class="casesCont">
      <img src="../../assets/img/phone-cont-img.jpg" alt="Wifi" />
    </div>
    <div class="casesCont sobra">
      <img src="../../assets/img/phone-cont-img.jpg" alt="Wifi" />
    </div>
    <div class="casesCont sobra">
      <img src="../../assets/img/phone-cont-img.jpg" alt="Wifi" />
    </div>
    <div class="casesCont sobra">
      <img src="../../assets/img/phone-cont-img.jpg" alt="Wifi" />
    </div>
    <button class="btnYell" type="button">VEJA MAIS CASES</button>
  </div>