<div id="Cases">
    <h2>CASES</h2>
    <div class="detailHeader">
      <div class="detailHeaderCont casesOne"></div>
    </div>
    <div class="casesCont">
      <img src="../../assets/wifi.gif" alt="Wifi" />
      <p>WIFI</p>
    </div>
    <div class="casesCont">
      <img src="../../assets/wifi.gif" alt="Wifi" />
      <p>WIFI</p>
    </div>
    <div class="casesCont">
      <img src="../../assets/wifi.gif" alt="Wifi" />
      <p>WIFI</p>
    </div>
    <div class="casesCont">
      <img src="../../assets/wifi.gif" alt="Wifi" />
      <p>WIFI</p>
    </div>
    <div class="casesCont">
      <img src="../../assets/wifi.gif" alt="Wifi" />
      <p>WIFI</p>
    </div>
    <div class="casesCont">
      <img src="../../assets/wifi.gif" alt="Wifi" />
      <p>WIFI</p>
    </div>
    <div class="casesCont">
      <img src="../../assets/wifi.gif" alt="Wifi" />
      <p>WIFI</p>
    </div>
    <div class="casesCont">
      <img src="../../assets/wifi.gif" alt="Wifi" />
      <p>WIFI</p>
    </div>
    <button class="btnYell" type="button">VEJA MAIS CASES</button>
  </div>