#Cases{
    position: relative;
    width: 100%;
    min-height: 20px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
}

#Cases button{
    margin-top: 20px;
}

.casesCont{
    position: relative;
    width: 20%;
    min-height: 250px;
    float: left;
    border: 1px solid #42505f;
    text-align: center;
    padding: 10px;
    margin: 4% 0 4% 4%;
    box-sizing: border-box;
}

.casesCont img{
    width: 100%;
    margin-top: 20px;
}

.casesOne{
    left: -31px;
    width: 50px;
}

@media screen and (max-width: 768px) {
    #Cases{
        padding: 30px 15px;
    }

    #Cases button{
        margin-top: 30px;
    }

    .casesCont {
      width: 96%;
      min-height: 200px;
      margin: 4% 2% 0 2%;
      font-size: 10px;
    }
  }