#Cases{
    position: relative;
    width: 100%;
    min-height: 20px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
}

#Cases button{
    margin-top: 20px;
}

.casesCont{
    position: relative;
    width: 20%;
    height: 50%;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 4% 0 4% 4%;
    box-sizing: border-box;
    background-image: url(../../assets/img/phone-img.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.casesCont img{
    width: 92%;
    margin-top: 20px;
    margin-bottom: 41%;
}

.casesOne{
    left: -31px;
    width: 50px;
}

@media screen and (max-width: 768px) {
    #Cases{
        padding: 30px 15px;
    }

    #Cases button{
        margin-top: 30px;
    }

    .casesCont {
      width: 76%;
      min-height: 200px;
      margin: 4% 13% 0 13%;
      font-size: 10px;
    }

    .sobra{
        display: none;
    }
  }