#Slides, #About, #AboutText, #AboutProp, #Midia, 
#Advertisers, #Publishers, #Academy, #AcademyImgCont, #Doubts, #Social{
    position: relative;
    width: 100%;
    min-height: 20px;
    float: left;
    text-align: center;
    box-sizing: border-box;
}

#AboutText, #AboutProp, #Midia, #Advertisers, #Publishers, #Doubts, #Social{
    padding: 30px;
}

#AboutText, #AboutProp, #Midia, #Advertisers, #Publishers, #Academy, #Doubts{
    border-bottom: 10px solid #FFF;
}

#Slides{
    overflow: hidden;
    padding-top: 70px;
    height: 500px;
    background-image: url(../../assets/img/slide2.jpg);
    background-repeat: no-repeat;
    background-size: auto 500px;
    background-position: top center;
    background-attachment: fixed;
}

#Slides img{
    width: 100%;
}

#SlideProp{
    position: absolute;
    bottom: 10%;
    right: -40px;
    background-color: rgba(200, 212, 0, 0.7);
    color: #FFF;
    width: 50%;
    height: 25%;
    border-radius: 100px 0 0 100px;
    padding: 20px;
    border: 0px solid #c7d301;
}

#SlideProp span{
    position: relative;
    top: 32%;
    left: 20px;
    font-size: 2.4em;
    float: left;
    padding: 0 20px;
}

#SlideProp p{
    position: relative;
    top: 5%;
    width: 250px;
    float: left;
    padding-right: 50px;
    padding-left: 20px;
    border-left: 1px solid #FFF;
    margin-left: 20px;
    text-align: left;
}

#AboutProp, #Midia, #Doubts{
    background-color: #c7d301;
    text-align: center;
    color: #FFF;
}

#Advertisers, #Publishers{
    background-color: #e2e2e2;
}

#Academy{
    background: linear-gradient(#FFF,#FFF,#FFF,#DDD);
    padding: 0;
    padding-bottom: 40px;
}

#Academy p{
    padding: 0 20px 20px 20px;
}

#AcademyImgCont{
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-image: url(../../assets/img/slide4.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 40px;
}

#Social{
    background-color: #42505f;
    text-align: center;
}

#Social img{
    width: 30px;
    height: auto;
    margin-right: 5px;
}

#AboutProp h2{
    font-size: 15px;
}

#Midia h2, #Midia p{
    margin: 10px 0 15px 0;
}

#Doubts p{
    color: #42505f;
    font-size: 20px;
}

.anunciantesOne{
    left: -88px;
    width: 90px;
}

.publishersOne{
    left: -73px;
    width: 85px;
}

@media screen and (max-width: 1470px) {

    #SlideProp p{
        display: none;
    }
}

@media screen and (max-width: 830px) {

    #SlideProp span{
        left: unset;
        padding: unset!important;
    }
}

@media screen and (max-width: 768px) {
    #AboutText, #AboutProp, #Midia, #Advertisers, #Publishers, #Doubts, #Social{
        padding: 30px 15px;
    }

    #Doubts img{
        width: 70px;
    }

    #AboutProp{
        font-size: 9px;
    }
    
    #AboutProp{
        padding: 20px 15px;
    }

    #AcademyImgCont{
        height: 200px;
        background-size: cover;
    }

    #Slides{
        height: 250px;
        background-position: top center;
        background-attachment: unset;
        background-size: cover;
    }
  }

  @media screen and (max-width: 610px) {
    #SlideProp span{
        top:33%!important;
        font-size: 1.5em!important;
    }
  }

  @media screen and (max-width: 490px) {
    #SlideProp span{
        top:37%!important;
        font-size: 1.2em!important;
    }
  }

  @media screen and (max-width: 410px) {

    #SlideProp span{
        font-size: 1.0em!important;
    }
  }