<div id="Slides">
  <img src="../assets/slide1.jpg" alt="" />
</div>
<!--ABOUT BEGIN-->
<div id="About">
  <div id="AboutText">
    <h1>SOBRE A HANDS</h1>
    <p>
      “Advertising for Mobile People”, o nosso objetivo é sempre possibilitar às marcas as melhores ferramentas e serviços para se comunicar com um público cada vez mais móvel, multicanal, multi-telas e difícil de ser impactado. 
    </p>
    <button class="btnGray" type="button">SAIBA MAIS</button>
  </div>
  <div id="AboutProp">
    <h2 class="white">Experience / Inovation / Aplications / Mobile</h2>
  </div>
</div>
<!--ABOUT END-->
<!--PRODUCTS BEGIN-->
<app-produtos></app-produtos>
<!--PRODUCTS END-->
<!--MIDIA KIT BEGIN-->
<div id="Midia">
  <img src="../../assets/premium-logo.png" alt="Wifi" />
  <h2>MIDIA KIT</h2>
  <p>
      Disponibilizamos para você nossa apresentação institucional.
  </p>
  <button class="btnYell" type="button">DOWNLOAD</button>
</div>
<!--MIDIA KIT END-->
<!--CASES BEGIN-->
<app-cases></app-cases>
<!--CASES END-->
<!--ADVERTISERS BEGIN-->
<div id="Advertisers">
  <h2>ANUNCIANTES</h2>
  <p>Sua campanha em um único lugar</p>
  <button class="btnGray" type="button">SAIBA MAIS</button>
</div>
<!--ADVERTISERS END-->
<!--PUBLISHERS BEGIN-->
<div id="Publishers">
  <h2>PUBLISHERS</h2>
  <p>Somos uma rede premium</p>
  <button class="btnGray" type="button">SAIBA MAIS</button>
</div>
<!--PUBLISHERS END-->
<!--ACADEMY BEGIN-->
<div id="Academy">
  <div id="AcademyImgCont"></div>
  <h2 class="yellow">HANDS ACADEMY</h2>
  <p>Quer entender mais do mundo mobile? O Hands Academy foi criado para ajudar tanto as agências e empresas e a entenderem a diferença do desktop e o mobile. Ou seja, que a estratégia de anúncio para desktop e mobile são totalmente diversas, desde os formatos, canais até segmentações! </p>
  <button class="btnGray" type="button">CONTRATE AQUI</button>
</div>
<!--ACADEMY END-->
<!--DOUBTS BEGIN-->
<div id="Doubts">
  <img src="../../assets/chat-logo.png" alt="Dúvidas" />
  <p>Tire suas dúvidas com a nossa equipe especializada em mobile</p>
  <button class="btnYell" type="button">CONVERSE COM A GENTE</button>
</div>
<!--DOUBTS END-->
<!--SOCIAL MEDIA BEGIN-->
<div id="Social">
  <a href="#">
      <img src="../../assets/insta-logo.png" alt="Instagran" />
  </a>
  <a href="#">
      <img src="../../assets/linkein-logo.png" alt="LinkeIn" />
  </a>
  <a href="#">
      <img src="../../assets/facebook-logo.png" alt="Facebook" />
  </a>
</div>
<!--SOCIAL MEDIA END-->